/** lead colors */
.test {
  font-size: 1rem;
}

/** lead colors */
/***** global reset *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

body {
  background: #F4F5F7;
  font-family: "Inter", sans-serif;
  font-size: 16px; /***** for the root ems *****/
}

.settings-team {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-sidebar {
  width: 312px;
  height: 960px;
  background-color: #fff;
  padding: 32px 24px;
  /***** search styles *****/
}
.left-sidebar .header .logo {
  display: flex;
}
.left-sidebar .search {
  margin-top: 24px;
}
.left-sidebar .search .input-container {
  border: 1px solid #D0D5DD;
  width: 264px;
  height: 44px;
  display: flex;
  padding: 12px 14px;
  font-size: px-to-rem(40);
  border-radius: 8px;
}
.left-sidebar .search .input-container input {
  border: none;
  font-size: px-to-rem(16);
  margin-top: 5px;
  width: 100%;
  margin-left: 10px;
}
.left-sidebar .search .input-container input::-webkit-input-placeholder {
  font-size: px-to-rem(16);
}
.left-sidebar .utility-list,
.left-sidebar .bottom-utility-list {
  margin-top: 24px;
}
.left-sidebar .utility-list li,
.left-sidebar .bottom-utility-list li {
  display: flex;
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.left-sidebar .utility-list li .icon,
.left-sidebar .bottom-utility-list li .icon {
  margin-right: 10px;
}
.left-sidebar .bottom-utility-list {
  margin-top: 184px;
}

.logo-text {
  font-size: 20px;
  line-height: 40px;
  margin-left: 10px;
}

.primary-link {
  color: #fff;
}

.test {
  font-size: 1rem;
}

.utility-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bottom-utility-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/** lead colors */
.main-content {
  background: #FCFCFD;
  display: flex;
  padding: 32px 0 17px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

input.custom-checkbox {
  position: absolute;
  left: -9999px;
}
input.custom-checkbox + label {
  position: relative;
  display: inline-block;
  padding: 6px 10px 6px 26px;
  cursor: pointer;
}
input.custom-checkbox + label:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin: -8px 0 0;
  width: 16px;
  height: 16px;
  background: url("../../img/unchecked.png") no-repeat center center;
  background-size: cover;
}
input.custom-checkbox:checked + label:before {
  background-image: url("../../img/checked.png");
}
input.custom-checkbox:disabled + label {
  opacity: 0.5;
  cursor: not-allowed;
}
input.custom-checkbox:disabled + label:before {
  background-position: -32px 0;
}
input.custom-checkbox:disabled:checked + label:before {
  background-position: -48px 0;
}

/***** leads table styles *****/
.leads-table td {
  border-bottom: 1px solid #D0D5DD;
  font-family: "Inter", sans-serif;
  font-size: px-to-rem(14);
  height: 57px;
}
.leads-table .last {
  border-bottom: 0;
}
.leads-table thead th {
  font-size: px-to-rem(14);
  height: 57px;
  border-bottom: 1px solid #D0D5DD;
}
.leads-table .status {
  color: #fff;
  display: inline-block;
  padding: 6px 9px;
  border-radius: px-to-rem(5);
}
.leads-table .status.initial-contact {
  background: #1875f0;
}
.leads-table .status.offer-made {
  background: #f18f1c;
}
.leads-table .status.incoming-request {
  background: #3aa4d2;
}
.leads-table .status.negeoation {
  background-color: #5553ce;
}
.leads-table .status.won {
  background: #50d166;
}
.leads-table .status.contract {
  background: #9013fe;
}

.left-sidebar {
  width: 312px;
  height: 960px;
  background-color: #fff;
  padding: 32px 24px;
  /***** search styles *****/
}
.left-sidebar .header .logo {
  display: flex;
}
.left-sidebar .search {
  margin-top: 24px;
}
.left-sidebar .search .input-container {
  border: 1px solid #D0D5DD;
  width: 264px;
  height: 44px;
  display: flex;
  padding: 12px 14px;
  font-size: px-to-rem(40);
  border-radius: 8px;
}
.left-sidebar .search .input-container input {
  border: none;
  font-size: px-to-rem(16);
  margin-top: 5px;
  width: 100%;
  margin-left: 10px;
}
.left-sidebar .search .input-container input::-webkit-input-placeholder {
  font-size: px-to-rem(16);
}
.left-sidebar .utility-list,
.left-sidebar .bottom-utility-list {
  margin-top: 24px;
}
.left-sidebar .utility-list li,
.left-sidebar .bottom-utility-list li {
  display: flex;
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.left-sidebar .utility-list li .icon,
.left-sidebar .bottom-utility-list li .icon {
  margin-right: 10px;
}
.left-sidebar .bottom-utility-list {
  margin-top: 184px;
}

.search-icon {
  background: url("../img/search-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.home-icon {
  background: url("../img/home-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.dashboard-icon {
  background: url("../img/dashboard-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.projects-icon {
  background: url("../img/projects-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.tasks-icon {
  background: url("../img/tasks-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.reporting-icon {
  background: url("../img/reporting-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.users-icon {
  background: url("../img/users-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.support-icon {
  background: url("../img/support-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.settings-icon {
  background: url("../img/settings-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}
