@function px-to-em($px) {
    $result: calc($px / 16) * 1rem;
    @return $result;
}

.test {
    font-size: px-to-em(16);
}

@mixin unstyledlist() {
    margin: 0;
    padding: 0;
    list-style: none;
}
