.left-sidebar {
    width: 312px;
    height: 960px;
    background-color: #fff;
    padding: 32px 24px;

    .header {

        .logo {
            display: flex;
        }
    }

    /***** search styles *****/
    .search {
        margin-top: 24px;
        
        .input-container {
            border: 1px solid $clr-base-border;
            width: 264px;
            height: 44px;
            display: flex;
            padding: 12px 14px;
            font-size: px-to-rem(40);
            border-radius: 8px;

            input {
                border: none;
                font-size: px-to-rem(16);
                margin-top: 5px;
                width: 100%;
                margin-left: 10px;
                &::-webkit-input-placeholder {
                    font-size: px-to-rem(16);
                }
            }
        }
    }

    .utility-list,
    .bottom-utility-list {
        margin-top: 24px;

        li {
            display: flex;
            line-height: 24px;
            margin-bottom: 20px;   
            text-transform: capitalize;
                         
            .icon {
                margin-right: 10px;
            }
        }
    }

    .bottom-utility-list {
        margin-top: 184px;
    }
}