.search-icon {
    background:  url('../img/search-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.home-icon {
    background: url('../img/home-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.dashboard-icon {
    background: url('../img/dashboard-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.projects-icon {
    background: url('../img/projects-icon.svg') no-repeat;
    width: 24px;
    height: 24px; 
}

.tasks-icon {
    background: url('../img/tasks-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.reporting-icon {
    background: url('../img/reporting-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.users-icon {
    background: url('../img/users-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.support-icon {
    background: url('../img/support-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.settings-icon {
    background: url('../img/settings-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}
